<h1><%= @section.name %></h1>

<% if @section.lessons.any? %>
  <h4>Here are the lessons for this section:</h4>

  <ul>
    <% @section.lessons.each do |lesson| %>
      <li>
        <%= link_to lesson.name, section_lesson_path(@section, lesson) %> |
        <%= link_to "Edit", edit_section_lesson_path(@section, lesson), id: "lesson-id-#{lesson.id}" %> |
        <%= link_to "Delete", section_lesson_path(@section, lesson),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no lessons yet!</p>
<% end %>

<p><%= link_to "Return to sections", sections_path %></p>
<p><%= link_to "Edit", edit_section_path(@section) %></p>
<p><%= link_to "Delete", section_path(@section),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "New Lesson", new_section_lesson_path(@section) %></p>

<%= form_for [@section, @feedback] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit  %>
<% end %>

<% if @section.feedbacks.any? %>
  <h4>Here are the feedbacks for this section:</h4>

  <ul>
    <% @section.feedbacks.each do |feedback| %>
      <li>
        <%= feedback.content%> |
    <% end %>
  </ul>
<% else %>
  <p>There are no feedbacksssss yet!</p>
<% end %>
